

#uzbekistan{
    padding: 40px ; 
    height: 100%;
    width: 100%;
  
    
    fill: #141414;
    background-color: dimgray;
    }
  
  
    #UZB354:hover{
        fill:rgb(77, 75, 75);
    }
  
    #UZB355:hover{
        fill: rgb(77, 75, 75);
    }
  
    #UZB356:hover{
        fill: rgb(77, 75, 75);
    }
    #UZB357:hover{
        fill: rgb(77, 75, 75);
    }
  
    #UZB358:hover{
          fill: rgb(77, 75, 75);
    }
  
    #UZB361:hover{
        fill: rgb(77, 75, 75);
    }
    
    #UZB362:hover{
        fill: rgb(77, 75, 75);
    }
  
    #UZB363:hover{
        fill: rgb(77, 75, 75);
    }
  
    #UZB364:hover{
        fill: rgb(77, 75, 75);
    }
  
    #UZB365:hover{
        fill: rgb(77, 75, 75);
    }
  
    #UZB370:hover{
        fill: rgb(77, 75, 75);
    }
    
    #UZB371:hover{
        fill:rgb(77, 75, 75) ;
    }
    
    #UZB372:hover{
        fill: rgb(77, 75, 75);
    }
  
    #UZB4828:hover{
        fill:rgb(77, 75, 75);
    }
  