
#Tashkent  {
    fill: #9eabda;
   
}
#UZTA220:hover {
    fill:		#2f4f4f;
}

#UZTA224:hover{
    fill:	#2f4f4f;
}

#UZTA228:hover{
    fill: 		#2f4f4f;
}
#UZTA256:hover{
    fill: 	#2f4f4f;
}

#UZTA248:hover{
      fill: 	#2f4f4f;
}

#UZTA212:hover{
    fill: 	#2f4f4f;
}

#UZTA206:hover{
    fill: 	#2f4f4f;
}

#UZTA249:hover{
    fill:#2f4f4f;
}

#UZTA250:hover{
    fill: 	#2f4f4f;
}

#UZTA233:hover{
    fill: 	#2f4f4f;
}
#UZTA237:hover{
    fill: 	#2f4f4f;
}

#UZTA253:hover{
    fill: 	#2f4f4f;
}

#UZTA259:hover{
    fill:	#2f4f4f;
}
#UZTA239:hover{
    fill: 	#2f4f4f;
}

/*--------------------------------------------*/
#Bukhoro  {
    fill:#9eabda;
}


 #UZBU207:hover{
    fill: 	#2f4f4f;
}

 #UZBU204:hover{
    fill: 	#2f4f4f;
}
 #UZBU215:hover{
    fill: 	#2f4f4f;
}
 #UZBU246:hover{
    fill: 	#2f4f4f;
}
 #UZBU219:hover{
    fill: 	#2f4f4f;
}
 #UZBU230:hover{
    fill: 	#2f4f4f;
}
 #UZBU232:hover{
    fill: 	#2f4f4f;
}
 #UZBU242:hover{
    fill: 	#2f4f4f;
}
 #UZBU243:hover{
    fill: 	#2f4f4f;
}
 #UZBU244:hover{
    fill: 	#2f4f4f;
}
 #UZBU240:hover{
    fill: 	#2f4f4f;
}
 #UZBU258:hover{
    fill: 	#2f4f4f;
}
 #UZBU212:hover{
    fill: 	#2f4f4f ;
}

/*-------------------------------------------------*/

#Khorezm{
    fill:#9eabda;
}

 #UZKH236:hover{
    fill: 	#2f4f4f;
}
 #UZKH233:hover{
    fill: 	#2f4f4f;
}
 #UZKH217:hover{
    fill: 	#2f4f4f;
}
 #UZKH230:hover{
    fill: 	#2f4f4f
}
 #UZKH212:hover{
    fill: 	#2f4f4f;
}
 #UZKH226:hover{
    fill: 	#2f4f4f;
}
 #UZKH220:hover{
    fill: 	#2f4f4f;
}
 #UZKH223:hover{
    fill: 	#2f4f4f;
}
 #UZKH208:hover{
    fill: 	#2f4f4f;
}
 #UZKH204:hover{
    fill:	#2f4f4f;
}

/*--------------------------------------------*/

#Karakalpakstan{
    fill:#9eabda;
}


#UZQR204:hover{
    fill:	#2f4f4f;
}
 #UZQR207:hover{
    fill: 	#2f4f4f;
}
 #UZQR240:hover{
    fill: 	#2f4f4f;
}
 #UZQR241:hover{
    fill: 	#2f4f4f;
}
 #UZQR250:hover{
    fill:	#2f4f4f;
}
 #UZQR212:hover{
    fill: 	#2f4f4f;
}
 #UZQR222:hover{
    fill: 	#2f4f4f;
}
 #UZQR401:hover{
    fill: 	#2f4f4f;
}
 #UZQ218:hover{
    fill: 	#2f4f4f;
}
 #UZQR215:hover{
    fill: 	#2f4f4f;
}
 #UZQR215:hover{
    fill: 	#2f4f4f;
}
 #UZQR211:hover{
    fill: 	#2f4f4f;
}
 #UZQR243:hover{
    fill: 	#2f4f4f;
}
 #UZQR233:hover{
    fill: 	#2f4f4f;
}
 #UZQR230:hover{
    fill: 	#2f4f4f;
}
 #UZQR236:hover{
    fill: 	#2f4f4f;
}

/*---------------------------------------------------*/



#Navoi{
    fill:#9eabda;  
    align-items: center;
}


#UZNW111:hover{
    fill: 	#2f4f4f;
}
 #UZNW112:hover{
    fill: 	#2f4f4f;
}
 #UZNW234:hover{
    fill: 	#2f4f4f;
}
 #UZNW216:hover{
    fill: 	#2f4f4f;
}
 #UZNW251:hover{
    fill: 	#2f4f4f;
}
 #UZNW238:hover{
    fill: 	#2f4f4f;
}
 #UZQ218:hover{
    fill: 	#2f4f4f;
}
 #UZNW244:hover{
    fill: 	#2f4f4f;
}
 #UZNW248:hover{
    fill: 	#2f4f4f;
}
 #UZNW249:hover{
    fill: 	#2f4f4f;
}

#UZNW250:hover{
    fill: 	#2f4f4f;
}
#UZNW251:hover{
    fill: 	#2f4f4f;
}
#UZNW252:hover{
    fill: 	#2f4f4f;
}
#UZNW253:hover{
    fill: 	#2f4f4f;
}
#UZNW254:hover{
    fill: 	#2f4f4f;
}
 
#UZNW255:hover{
    fill: 	#2f4f4f;
}
 
/* -------------------------------------------------------------*/

#Kashkadarya{
    fill: #9eabda;
}


#UZQA242:hover{
    fill:	#2f4f4f;
}
 #UZQA212:hover{
    fill: 	#2f4f4f;
}
 #UZQA207:hover{
    fill: 	#2f4f4f;
}
 #UZQA220:hover{
    fill: 	#2f4f4f;
}
 #UZQA224:hover{
    fill: #2f4f4f;
}
 #UZQA229:hover{
    fill: 	#2f4f4f;
}
 #UZQA237:hover{
    fill: 	#2f4f4f;
}
 #UZQA232:hover{
    fill: 	#2f4f4f;
}
 #UZQA233:hover{
    fill: 	#2f4f4f;
}
 #UZQA234:hover{
    fill: 	#2f4f4f;
}
 #UZQA235:hover{
    fill: 	#2f4f4f;
}
 #UZQA245:hover{
    fill: 	#2f4f4f;
}
 #UZQA250:hover{
    fill: 	#2f4f4f;
}

/*---------------------------------------------------------------*/


#Surkhandarya{
    fill: #9eabda;
}
#UZSU202:hover{
    fill:	#2f4f4f;
}
 #UZSU204:hover{
    fill: 	#2f4f4f;
}
 #UZSU210:hover{
    fill: 	#2f4f4f;
}
 #UZU212:hover{
    fill: 	#2f4f4f;
}
 #UZSU215:hover{
    fill: #2f4f4f;
}
 #UZSU214:hover{
    fill: 	#2f4f4f;
}
 #UZSU207:hover{
    fill: 	#2f4f4f;
}
 #UZSU201:hover{
    fill: 	#2f4f4f;
}
 #UZSU217:hover{
    fill: 	#2f4f4f;
}
 #UZSU233:hover{
    fill: 	#2f4f4f;
}
 #UZSU226:hover{
    fill: 	#2f4f4f;
}
 #UZSU220:hover{
    fill: 	#2f4f4f;
}
 #UZSU221:hover{
    fill: 	#2f4f4f;
}
 

/*--------------------------------------------------*/


#Samarkand{
    fill: #9eabda;
}
#UZSA206:hover{
    fill:	#2f4f4f;
}
 #UZSA212:hover{
    fill: 	#2f4f4f;
}
 #UZSA209:hover{
    fill: 	#2f4f4f;
}
 #UZSA215:hover{
    fill: 	#2f4f4f;
}
 #UZSA216:hover{
    fill: #2f4f4f;
}
 #UZSA218:hover{
    fill: 	#2f4f4f;
}
 #UZSA235:hover{
    fill: 	#2f4f4f;
}
 #UZSA203:hover{
    fill: 	#2f4f4f;
}
 #UZSA230:hover{
    fill: 	#2f4f4f;
}
 #UZSA224:hover{
    fill: 	#2f4f4f;
}
 #UZSA227:hover{
    fill: 	#2f4f4f;
}
 #UZSA233:hover{
    fill: 	#2f4f4f;
}
 #UZSA238:hover{
    fill: 	#2f4f4f;
}
 
 #UZSA236:hover{
    fill: 	#2f4f4f;
}
 
/*-------------------------------------------------------------------*/

#Sirdaryo{
    fill: #9eabda;
}
#UZSI206:hover{
    fill:	#2f4f4f;
}
 #UZSI212:hover{
    fill: 	#2f4f4f;
}
 #UZSI220:hover{
    fill: 	#2f4f4f;
}
 #UZSI235:hover{
    fill: 	#2f4f4f;
}
 #UZSI228:hover{
    fill: #2f4f4f;
}
 #UZSI226:hover{
    fill: 	#2f4f4f;
}
 #UZSI216:hover{
    fill: 	#2f4f4f;
}
 #UZSI231:hover{
    fill: 	#2f4f4f;
}
 
/*----------------------------------------------------------------------------------*/

#Jizzakh{
    fill: #9eabda;
}
#UZJI201:hover{
    fill:	#2f4f4f;
}
 #UZJI204:hover{
    fill: 	#2f4f4f;
}
 #UZJI235:hover{
    fill: 	#2f4f4f;
}
 #UZJI236:hover{
    fill: 	#2f4f4f;
}
 #UZJI209:hover{
    fill: #2f4f4f;
}
 #UZJI401:hover{
    fill: 	#2f4f4f;
}
 #UZJI223:hover{
    fill: 	#2f4f4f;
}
 #UZJI228:hover{
    fill: 	#2f4f4f;
}
 #UZJI237:hover{
    fill: 	#2f4f4f;
}
 #UZJI218:hover{
    fill: 	#2f4f4f;
}
 #UZJI225:hover{
    fill: 	#2f4f4f;
}
 #UZJI220:hover{
    fill: 	#2f4f4f;
}

/*------------------------------------------------------*/

#Ferghana{
    fill: #9eabda;
}
#UZFA203:hover{
    fill:	#2f4f4f;
}
 #UZFA209:hover{
    fill: 	#2f4f4f;
}
 #UZFA215:hover{
    fill: 	#2f4f4f;
}
 #UZFA212:hover{
    fill: 	#2f4f4f;
}
 #UZFA000:hover{
    fill: #2f4f4f;
}
 #UZFA238:hover{
    fill: 	#2f4f4f;
}
 #UZFA206:hover{
    fill: 	#2f4f4f;
}
 #UZFA218:hover{
    fill: 	#2f4f4f;
}
 #UZFA224:hover{
    fill: 	#2f4f4f;
}
 #UZFA001:hover{
    fill: 	#2f4f4f;
}
 #UZFA227:hover{
    fill: 	#2f4f4f;
}
 #UZFA236:hover{
    fill: 	#2f4f4f;
}
 #UZFA230:hover{
    fill: 	#2f4f4f;
}
 #UZFA245:hover{
    fill: 	#2f4f4f;
}

/*-----------------------------------------------------------------------*/

#Namangan{
    fill: #9eabda;
}
#UZNG136:hover{
    fill:	#2f4f4f;
}
 #UZNG237:hover{
    fill: 	#2f4f4f;
}
 #UZNG207:hover{
    fill: 	#2f4f4f;
}
 #UZNG204:hover{
    fill: 	#2f4f4f;
}
 #UZNG401:hover{
    fill: #2f4f4f;
}
 #UZNG216:hover{
    fill: 	#2f4f4f;
}
 #UZNG219:hover{
    fill: 	#2f4f4f;
}
 #UZNG224:hover{
    fill: 	#2f4f4f;
}
 #UZNG234:hover{
    fill: 	#2f4f4f;
}
 #UZNG229:hover{
    fill: 	#2f4f4f;
}
 #UZNG242:hover{
    fill: 	#2f4f4f;
}
 /*--------------------------------------------------------------*/


 #Tashkent-capital{
    fill: #9eabda;
}
#UZTK264:hover{
    fill:	#2f4f4f;
}
 #UZTK294:hover{
    fill: 	#2f4f4f;
}
 #UZTK290:hover{
    fill: 	#2f4f4f;
}
 #UZTK273:hover{
    fill: 	#2f4f4f;
}
 #UZTK269:hover{
    fill: #2f4f4f;
}
 #UZTK283:hover{
    fill: 	#2f4f4f;
}
 #UZTK277:hover{
    fill: 	#2f4f4f;
}
 #UZTK280:hover{
    fill: 	#2f4f4f;
}
 #UZTK262:hover{
    fill: 	#2f4f4f;
}
 #UZTK287:hover{
    fill: 	#2f4f4f;
}
 #UZTK266:hover{
    fill: 	#2f4f4f;
}

 #UZTK268:hover{
    fill: 	#2f4f4f;
}
/*---------------------------------------------------*/

#Andijon{
    fill: #9eabda;
}
#UZAN203:hover{
    fill:	#2f4f4f;
}
 #UZAN224:hover{
    fill: 	#2f4f4f;
}
 #UZAN206:hover{
    fill: 	#2f4f4f;
}
 #UZAN209:hover{
    fill: 	#2f4f4f;
}
 #UZTK269:hover{
    fill: #2f4f4f;
}
 #UZAN210:hover{
    fill: 	#2f4f4f;
}
 #UZAN214:hover{
    fill: 	#2f4f4f;
}
 #UZAN211:hover{
    fill: 	#2f4f4f;
}
 #UZAN236:hover{
    fill: 	#2f4f4f;
}
 #UZAN220:hover{
    fill: 	#2f4f4f;
}
 #UZAN227:hover{
    fill: 	#2f4f4f;
}

 #UZAN202:hover{
    fill: 	#2f4f4f;
}
 #UZAN232:hover{
    fill: 	#2f4f4f;
}
 #UZAN230:hover{
    fill: 	#2f4f4f;
}
 #UZAN217:hover{
    fill: 	#2f4f4f;
}